@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.loginPage{
    background-image: url(../images/background-image-login-page.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: white;
}
form{
    max-width: 600px;
    margin: auto;
}
form-control{
    background: none;
}